﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lintas Maritim Indonesia</title>
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- Owl Theme Default CSS --> 
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
    <!-- Owl Carousel CSS --> 
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <!-- Owl Magnific CSS --> 
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <!-- Animate CSS --> 
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <!-- Boxicons CSS --> 
	<link rel="stylesheet" href="~/assets/css/boxicons.min.css">
    <!-- Flaticon CSS --> 
	<link rel="stylesheet" href="~/assets/css/flaticon.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="~/assets/css/meanmenu.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <!-- Odometer CSS-->
    <link rel="stylesheet" href="~/assets/css/odometer.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- Responsive CSS -->
	<link rel="stylesheet" href="~/assets/css/responsive.css">

    <link rel="stylesheet" href="~/assets/css/site.css">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/favicon.png">
</head>
<body id="app">
    <div class="preloader">
			<div class="lds-ripple">
				<div></div>
				<div></div>
			</div>
		</div>
    <!-- Start Header Area -->
		<header class="header-area">
			<!-- Start Top Header Area -->
			<div class="top-header">
				<div class="container">
					<div class="row">
						<div class="col-lg-1">
							<div class="header-left-content">
								<a href="index-2.html">
									<img src="~/assets/img/logo_96.png" alt="Logo">
								</a>
                                
							</div>
                            
						</div>
                        <div class="col-lg-4" style="margin: auto;margin-left: 10px;"><h3 style="display:inline">PT. Lintas Maritim Indonesia</h3></div>
                        <!--
						<div class="col-lg-9">
							<div class="header-right-content">
								<ul>
									<li>
										<a href="tel:+502-464-679">
											<i class='bx bxs-phone-call'></i>
											<span>Contact support</span>
											+502-464-679
										</a>
									</li>
									<li>
										<a href="mailto:hello@prevoz.com">
											<i class='bx bx-envelope'></i>
											<span>Contact support</span>
											hello@prevoz.com
										</a>
									</li>
									<li class="pl-0">
										<ul class="flag-wrap">
											<li class="flag-item-top">
												<a href="#" class="flag-bar">
													<img src="~/assets/img/flag/1-united-states.png" alt="Image">
													<span>USA</span>
												</a>
												<ul class="flag-item-bottom">
													<li class="flag-item">
														<a href="#" class="flag-link">
															<img src="~/assets/img/flag/2-united-kingdom.png" alt="Image">
															United Kingdom 
														</a>
													</li>
													<li class="flag-item">
														<a href="#" class="flag-link">
															<img src="~/assets/img/flag/3-germany.png" alt="Image">
															Germany
														</a>
													</li>
													<li class="flag-item">
														<a href="#" class="flag-link">
															<img src="~/assets/img/flag/4-argentina.png" alt="Image">
															Argentina
														</a>
													</li>
													<li class="flag-item">
														<a href="#" class="flag-link">
															<img src="~/assets/img/flag/5-australia.png" alt="Image">
															Australia
														</a>
													</li>
													<li class="flag-item">
														<a href="#" class="flag-link">
															<img src="~/assets/img/flag/7-canada.png" alt="Image">
															Canada
														</a>
													</li>
													<li class="flag-item">
														<a href="#" class="flag-link">
															<img src="~/assets/img/flag/6-new-zealand.png" alt="Image">
															New Zealand
														</a>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
                        -->
					</div>
				</div>
			</div>
			<!-- End Top Header Area -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Start Footer Top Area -->
		<footer class="footer-top-area pt-100 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="single-widget">
							<h3>What We Do</h3>
							<ul>
								<li><a href="#">Warehousing</a></li>
								<li><a href="#">Air Freight</a></li>
								<li><a href="#">Ocean Freight</a></li>
								<li><a href="#">Road Freight</a></li>
								<li><a href="#">Supply Chain</a></li>
								<li><a href="#">Packaging</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="single-widget">
							<h3>Industries</h3>
							<ul>
								<li><a href="#">Chemicals</a></li>
								<li><a href="#">DIY</a></li>
								<li><a href="#">Automotive</a></li>
								<li><a href="#">Consumer Goods</a></li>
								<li><a href="#">Life Science</a></li>
								<li><a href="#">Foreign Trade</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="single-widget">
							<h3>What We Do</h3>
							<ul>
								<li><a href="#">About Us</a></li>
								<li><a href="team.html">Meet Our Team</a></li>
								<li><a href="blog.html">News & Media</a></li>
								<li><a href="#">Case Studies</a></li>
								<li><a href="contact.html">Contact Us</a></li>
								<li><a href="service.html">Work With Us </a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="single-widget">
							<h3>Company </h3>
							<ul>
								<li><a href="#">About</a></li>
								<li><a href="#">Approach</a></li>
								<li><a href="#">Sustainability</a></li>
								<li><a href="#">News</a></li>
								<li><a href="#">Supply Chain</a></li>
								<li><a href="#">Packaging</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End Footer Top Area -->

		<!-- Start Footer Bottom Area -->
		<footer class="footer-bottom-area fun-blue-bg">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-5">
						<div class="single-widget-bottom">
							<ul>
								<li>
									<a href="terms.html">Terms & Conditions</a>
								</li>
								<li>
									<a href="privacy.html">Privacy &Policy</a>
								</li>
								<li>
									<a href="log-in.html">Employee login</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="single-widget-bottom">
							<p>&copy; 2020 - LintasMaritim - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="single-widget-bottom">
							<ul class="social-link">
								<li>
									<a href="#">
										<i class='bx bxl-twitter'></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class='bx bxl-facebook'></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class='bx bxl-instagram'></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class='bx bxl-linkedin'></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class='bx bxl-youtube'></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End Footer Bottom Area -->

		<!-- Start Go Top Area -->
		<div class="go-top">
			<i class='bx bx-chevrons-up bx-fade-up'></i>
			<i class='bx bx-chevrons-up bx-fade-up'></i>
		</div>
		<!-- End Go Top Area --> 
        
        <script src="~/assets/js/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="~/assets/js/popper.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="~/assets/js/bootstrap.min.js"></script>
        <!-- Meanmenu JS -->
		<script src="~/assets/js/jquery.meanmenu.js"></script>
        <!-- Wow JS -->
        <script src="~/assets/js/wow.min.js"></script>
        <!-- Owl Carousel JS -->
		<script src="~/assets/js/owl.carousel.js"></script>
        <!-- Owl Magnific JS -->
		<script src="~/assets/js/jquery.magnific-popup.min.js"></script>
        <!-- Nice Select JS -->
		<script src="~/assets/js/jquery.nice-select.min.js"></script>
		<!-- Appear JS --> 
        <script src="~/assets/js/jquery.appear.js"></script>
		<!-- Odometer JS --> 
		<script src="~/assets/js/odometer.min.js"></script>
		<!-- Parallax JS --> 
        <script src="~/assets/js/parallax.min.js"></script>
		<!-- Form Ajaxchimp JS -->
		<script src="~/assets/js/jquery.ajaxchimp.min.js"></script>
		<!-- Form Validator JS -->
		<script src="~/assets/js/form-validator.min.js"></script>
		<!-- Contact JS -->
		<script src="~/assets/js/contact-form-script.js"></script>
		<!-- Map JS FILE -->
        <script src="~/assets/js/map.js"></script>
        <!-- Custom JS -->
		<script src="~/assets/js/custom.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </body>
</html>
