﻿@{
    ViewData["Title"] = "Home Page";
}

<!-- Start Prevoz Navbar Area -->
			<div class="prevoz-nav-style">
				<div class="navbar-area">
					<!-- Menu For Mobile Device -->
					<div class="mobile-nav">
						<a href="index-2.html" class="logo">
							<img src="assets/img/logo.png" alt="Logo">
						</a>
					</div>
					<!-- Menu For Desktop Device -->
					<div class="main-nav">
						<nav class="navbar navbar-expand-md navbar-light">
							<div class="container">
								<a class="navbar-brand" href="index-2.html">
									<img src="assets/img/logo.png" alt="Logo">
								</a>
								<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
									<ul class="navbar-nav mr-auto">
										<li class="nav-item">
											<a href="#" class="nav-link dropdown-toggle active">
												Home
												<i class='bx bx-chevron-down'></i>
											</a>
											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="index-2.html" class="nav-link active">Home One</a>
												</li>
												<li class="nav-item">
													<a href="index-3.html" class="nav-link">Home Two</a>
												</li>
												<li class="nav-item">
													<a href="index-4.html" class="nav-link">Home Three</a>
												</li>
												<li class="nav-item">
													<a href="index-5.html" class="nav-link">Home Four</a>
												</li>
												<li class="nav-item">
													<a href="index-6.html" class="nav-link">Home Five</a>
												</li>
											</ul>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link dropdown-toggle">
												Pages
												<i class='bx bx-chevron-down'></i>
											</a>
											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="about.html" class="nav-link">About Us</a>
												</li>
												<li class="nav-item">
													<a href="why-us-choose.html" class="nav-link">Why Us Choose</a>
												</li>
												<li class="nav-item">
													<a href="team.html" class="nav-link">Team</a>
												</li>
												<li class="nav-item">
													<a href="global-location.html" class="nav-link">Global Location</a>
												</li>
												<li class="nav-item">
													<a href="faq.html" class="nav-link">FAQ</a>
												</li>
												<li class="nav-item">
													<a href="coming-soon.html" class="nav-link">Coming Soon</a>
												</li>
												<li class="nav-item">
													<a href="404.html" class="nav-link">404 Error</a>
												</li>
												<li class="nav-item">
													<a href="#" class="nav-link dropdown-toggle">
														User
														<i class='bx bx-chevron-down'></i>
													</a>
													<ul class="dropdown-menu">
														<li class="nav-item">
															<a href="log-in.html" class="nav-link">Log In</a>
														</li>
														<li class="nav-item">
															<a href="sign-up.html" class="nav-link">Sign Up</a>
														</li>
														<li class="nav-item">
															<a href="recover-password.html" class="nav-link">Recover Password</a>
														</li>
													</ul>
												</li>
												<li class="nav-item">
													<a href="terms-conditions.html" class="nav-link">Terms Conditions</a>
												</li>
												<li class="nav-item">
													<a href="privacy-policy.html" class="nav-link">Privacy Policy</a>
												</li>
											</ul>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link dropdown-toggle">
												Company
												<i class='bx bx-chevron-down'></i>
											</a>
											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="company-history.html" class="nav-link">Company History</a>
												</li>
												<li class="nav-item">
													<a href="company-clients.html" class="nav-link">Company Clients</a>
												</li>
												<li class="nav-item">
													<a href="careers.html" class="nav-link">Careers</a>
												</li>
											</ul>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link dropdown-toggle">
												Services
												<i class='bx bx-chevron-down'></i>
											</a>
											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="services.html" class="nav-link">Services</a>
												</li>
												<li class="nav-item">
													<a href="road-transport.html" class="nav-link">Road Transport</a>
												</li>
												<li class="nav-item">
													<a href="air-transport.html" class="nav-link">Air  Transport</a>
												</li>
												<li class="nav-item">
													<a href="service-details.html" class="nav-link">Service Details</a>
												</li>
											</ul>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link dropdown-toggle">
												News
												<i class='bx bx-chevron-down'></i>
											</a>
											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="news-grid.html" class="nav-link">News Grid</a>
												</li>
												<li class="nav-item">
													<a href="news-full-width.html" class="nav-link">News Full width</a>
												</li>
												<li class="nav-item">
													<a href="news-left-sidebar.html" class="nav-link">News Left Sidebar</a>
												</li>
												<li class="nav-item">
													<a href="news-right-sidebar.html" class="nav-link">News Right Sidebar</a>
												</li>
												<li class="nav-item">
													<a href="news-details.html" class="nav-link">News Details</a>
												</li>
											</ul>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link dropdown-toggle">
												Features
												<i class='bx bx-chevron-down'></i>
											</a>
											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="request-quote.html" class="nav-link">Request A Quote</a>
												</li>
												<li class="nav-item">
													<a href="global-location.html" class="nav-link">Global Location</a>
												</li>
											</ul>
										</li>
										<li class="nav-item">
											<a href="contact.html" class="nav-link">Contact</a>
										</li>
									</ul>
									<!-- Start Other Option -->
									<div class="others-option">
										<div class="search-wrap">
											<a href=".html">
												<i class='bx bx-search'></i>
											</a>
										</div>
										<button type="button" class="sidebar-menu" data-toggle="modal" data-target="#myModal2">
											<i class="flaticon-menu"></i>
										</button>
									</div>
									<!-- End Other Option -->
								</div>
							</div>
						</nav>
					</div>
				</div>
			</div>
			<!-- End Prevoz Navbar Area -->
		</header>
		<!-- End Header Area -->

		<!-- Start Sidebar Modal -->
		<div class="sidebar-modal">  
			<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">
									<i class="bx bx-x"></i>
								</span>
							</button>
							<h2 class="modal-title" id="myModalLabel2">
								<a href="index-2.html">
									<img src="assets/img/logo/logo-one.png" alt="Logo">
								</a>
							</h2>
						</div>
						<div class="modal-body">
							<div class="sidebar-modal-widget">
								<h3 class="title">About Us</h3>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, asperiores doloribus eum laboriosam praesentium delectus unde magni aut perspiciatis cumque deserunt dolore voluptate, autem pariatur? Dicta pariatur.</p>
							</div>
							<div class="sidebar-modal-widget">
								<h3 class="title">Additional Links</h3>
								<ul>
									<li>
										<a href="log-in.html">Log In</a>
									</li>
									<li>
										<a href="sign-up.html">Sign Up</a>
									</li>
									<li>
										<a href="faq.html">FAQ</a>
									</li>
									<li>
										<a href="#">Logout</a>
									</li>
								</ul>
							</div>
							<div class="sidebar-modal-widget">
								<h3 class="title">Contact Info</h3>
								<ul class="contact-info">
									<li>
										<i class="bx bx-location-plus"></i>
										Address
										<span>New York - 1060, Str. First 78 Great Western Road</span>
									</li>
									<li>
										<i class="bx bx-envelope"></i>
										Email
										<span>hello@prevoz.com</span>
									</li>
									<li>
										<i class="bx bxs-phone-call"></i>
										Phone
										<span>+502-464-679, +265-497-466</span>
									</li>
								</ul>
							</div>
							<div class="sidebar-modal-widget">
								<h3 class="title">Connect With Us</h3>
								<ul class="social-list">
									<li>
										<a href="#">
											<i class='bx bxl-twitter'></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxl-facebook'></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxl-instagram'></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxl-linkedin'></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxl-youtube'></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Sidebar Modal -->

		<!-- Start Search Box Modal -->
		<div class="search-wrap">
			<div class="search">
				<button type="button" class="close">×</button>
				<form>
					<input type="search" value="" class="form-control" placeholder="Type Here..." />
					<button type="submit" class="default-btn">
						Search
					</button>
				</form>
			</div>
		</div>
        <!-- End Search Box Modal -->

		<!-- Start Prevoz Slider Area -->
		<section class="prevoz-slider-area">
			<div class="prevoz-slider owl-carousel owl-theme">
				<div class="prevoz-slider-item slider-item-bg-1">
					<div class="d-table">
						<div class="d-table-cell">
							<div class="container">
								<div class="prevoz-slider-text overflow-hidden one">
									<span>Logistic Services</span>
									<h1>The line between disorder and order lies in logistics</h1>
									<p>If we drive down the cost of transportation in space, we can do great things.</p>
									<div class="slider-btn">
										<a class="default-btn active" href="#">
											Our Services
										</a>
										<a class="default-btn white" href="#">
											Request A Quote
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="prevoz-slider-item slider-item-bg-2">
					<div class="d-table">
						<div class="d-table-cell">
							<div class="container">
								<div class="prevoz-slider-text overflow-hidden two">
									<span>Logistic Services</span>
									<h1> Every great leader was an even greater logistician</h1>
									<p>If we drive down the cost of transportation in space, we can do great things.</p>
									<div class="slider-btn">
										<a class="default-btn active" href="#">
											Our Services
										</a>
										<a class="default-btn white" href="#">
											Request A Quote
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="prevoz-slider-item slider-item-bg-3">
					<div class="d-table">
						<div class="d-table-cell">
							<div class="container">
								<div class="prevoz-slider-text overflow-hidden three">
									<span>Logistic Services</span>
									<h1>Some beautiful paths Find without getting lost</h1>
									<p>If we drive down the cost of transportation in space, we can do great things.</p>
									<div class="slider-btn">
										<a class="default-btn active" href="#">
											Our Services
										</a>
										<a class="default-btn white" href="#">
											Request A Quote
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Prevoz Slider Area -->

		<!-- Start Track Area -->
		<section class="track-area mt-minus-70 pb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="tab quote-list-tab">
							<ul class="tabs">
								<li>
									<a href="#">
										<i class="flaticon-truck"></i>
										Track & Trace
									</a>
								</li>
								<li>
									<a href="#">
										Request A Quote
										<i class="flaticon-quote"></i>
									</a>
								</li>
							</ul>
							<div class="tab_content">
								<div class="tabs_item">
									<form>
										<div class="row">
											<div class="col-lg-8">
												<div class="row">
													<div class="col-12">
														<h3>Personal Data</h3>
													</div>
													<div class="col-lg-4 col-sm-6">
														<div class="form-group">
															<input type="text" class="form-control" placeholder="Your Name*">
														</div>
													</div>
													<div class="col-lg-4 col-sm-6">
														<div class="form-group">
															<input type="email" class="form-control" placeholder="Your Email*">
														</div>
													</div>
													<div class="col-lg-4">
														<div class="form-group">
															<input type="text" class="form-control" placeholder="Your Phone*">
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-12">
														<h3>Shipment Data</h3>
													</div>
													<div class="col-lg-4 col-sm-6">
														<div class="form-group">
															<select>
																<option value="1">Type of flight One</option>
																<option value="2">Type of flight Two</option>
																<option value="0">Type of flight Three</option>
																<option value="3">Type of flight Four</option>
																<option value="4">Type of flight Five</option>
																<option value="5">Type of flight Six</option>
																<option value="6">Type of flight Seven</option>
															</select>
														</div>
													</div>
													<div class="col-lg-4 col-sm-6">
														<div class="form-group">
															<input type="text" class="form-control" placeholder="City of Departure">
														</div>
													</div>
													<div class="col-lg-4">
														<div class="form-group">
															<input type="text" class="form-control" placeholder="Which City">
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-lg-4 col-sm-6">
														<div class="form-group">
															<select>
																<option value="1">Incomers One</option>
																<option value="2">Incomers Two</option>
																<option value="0">Incomers Three</option>
																<option value="3">Incomers Four</option>
																<option value="4">Travel Insurance Five</option>
																<option value="5">Incomers Six</option>
																<option value="6">Incomers Seven</option>
															</select>
														</div>
													</div>
													<div class="col-lg-2 col-sm-6">
														<div class="form-group">
															<input type="text" class="form-control" placeholder="Width">
														</div>
													</div>
													<div class="col-lg-2 col-sm-6">
														<div class="form-group">
															<input type="text" class="form-control" placeholder="Height">
														</div>
													</div>
													<div class="col-lg-2 col-sm-6">
														<div class="form-group">
															<input type="text" class="form-control" placeholder="Width">
														</div>
													</div>
													<div class="col-lg-2">
														<div class="form-group">
															<input type="text" class="form-control" placeholder="Length">
														</div>
													</div>
												</div>
												<div class="row mb-30">
													<div class="col-lg-3 col-sm-6 col-md-3">
														<label class="single-check">
															Express Delivery
															<input type="radio" checked="checked" name="radio">
															<span class="checkmark"></span>
														</label>
													</div>
													<div class="col-lg-3 col-sm-6 col-md-3">
														<label class="single-check">
															Ocean Freight
															<input type="radio" name="radio">
															<span class="checkmark"></span>
														</label>
													</div>
													<div class="col-lg-3 col-sm-6 col-md-3">
														<label class="single-check">
															Road Freight
															<input type="radio" name="radio">
															<span class="checkmark"></span>
														</label>
													</div>
													<div class="col-lg-3 col-sm-6 col-md-3">
														<label class="single-check">
															Air Freight
															<input type="radio" name="radio">
															<span class="checkmark"></span>
														</label>
													</div>
												</div>
												<div class="row">
													<div class="col-12">
														<button type="submit" class="default-btn">
															Request A Quote
														</button>
													</div>
												</div>
											</div>
											<div class="col-lg-4">
												<div class="track-img"></div>
											</div>
										</div>
									</form>
								</div>
		
								<div class="tabs_item">
									<form>
										<div class="row">
											<div class="col-lg-8">
												<div class="row">
													<div class="col-12">
														<h3>Shipment Type</h3>
														<div class="form-group">
															<select>
																<option value="1">Property Used For</option>
																<option value="2">Home Insurance</option>
																<option value="0">Business Insurance</option>
																<option value="3">Health Insurance</option>
																<option value="4">Travel Insurance</option>
																<option value="5">Car Insurance</option>
																<option value="6">Life Insurance</option>
															</select>
														</div>
													</div>
													<div class="col-12 mt-30">
														<h3>Tracking Number</h3>
													</div>
													<div class="col-12">
														<div class="form-group">
															<textarea class="form-control" placeholder="You can enter up to a maximum of 10 airway bill numbers for tracking."></textarea>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-lg-3 col-sm-6 col-md-3">
														<label class="single-check">
															Express Delivery
															<input type="radio" checked="checked" name="radio">
															<span class="checkmark"></span>
														</label>
													</div>
													<div class="col-lg-3 col-sm-6 col-md-3">
														<label class="single-check">
															Ocean Freight
															<input type="radio" name="radio">
															<span class="checkmark"></span>
														</label>
													</div>
													<div class="col-lg-3 col-sm-6 col-md-3">
														<label class="single-check">
															Road Freight
															<input type="radio" name="radio">
															<span class="checkmark"></span>
														</label>
													</div>
													<div class="col-lg-3 col-sm-6 col-md-3">
														<label class="single-check">
															Air Freight
															<input type="radio" name="radio">
															<span class="checkmark"></span>
														</label>
													</div>
												</div>
											</div>
											<div class="col-lg-4">
												<div class="track-img"></div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Track Area -->
		
		<!-- Start About Area -->
		<section class="about-area pb-100">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="about-img">
							<img src="assets/img/about-img.jpg" alt="Image">
							<div class="about-quatre">
								<i class="bx bxs-quote-alt-left bx-tada"></i>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="about-content ml-30">
							<span>About Us</span>
							<h2>Reliable and express logistics and transport solutions That no waste your time!</h2>
							<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi nam dolorem reiciendis dolor voluptatum eveniet vero incidunt odit? Tempore optio deleniti qui repellendus aspernatur ratione officia deserunt mollitia illum natus. Lorem, ipsum dolor sit amet.</p>
							<a class="default-btn" href="about-us.html">
								About Us
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End About Area -->

		<!-- Start What We Offer Area -->
		<section class="what-offer-area pt-100 pb-70">
			<div class="container">
				<div class="section-title">
					<span>What We Offer</span>
					<h2>We have some social services to provide customer!</h2>
				</div>
				<div class="row">
					<div class="col-lg-3 col-sm-6 p-0">
						<div class="single-offer">
							<i class="icon flaticon-server"></i>
							<h3>Warehousing</h3>
							<p>Lorem ipsum dolor sit amet csectetur adipiscing elit sed do eiusmod tem incididunt</p>
							<a class="circle-read-more" href="service-details.html">
								<i class="flaticon-right-1"></i>
							</a>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 p-0">
						<div class="single-offer">
							<i class="icon flaticon-air-freight"></i>
							<h3>Air Freight</h3>
							<p>Lorem ipsum dolor sit amet csectetur adipiscing elit sed do eiusmod tem incididunt</p>
							<a class="circle-read-more" href="service-details.html">
								<i class="flaticon-right-1"></i>
							</a>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 p-0">
						<div class="single-offer">
							<i class="icon flaticon-plastic-bottle"></i>
							<h3>Ocean Freight</h3>
							<p>Lorem ipsum dolor sit amet csectetur adipiscing elit sed do eiusmod tem incididunt</p>
							<a class="circle-read-more" href="service-details.html">
								<i class="flaticon-right-1"></i>
							</a>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 p-0">
						<div class="single-offer">
							<i class="icon flaticon-street"></i>
							<h3>Road  Freight</h3>
							<p>Lorem ipsum dolor sit amet csectetur adipiscing elit sed do eiusmod tem incididunt</p>
							<a class="circle-read-more" href="service-details.html">
								<i class="flaticon-right-1"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End What We Offer Area -->

		<!-- Start Why Choose Us Area -->
		<section class="choose-us-area pb-100">
			<div class="container">
				<div class="section-title">
					<span>Why Choose Us</span>
					<h2>We are best among them</h2>
				</div>
				<div class="row">
					<div class="col-lg-4 pr-0">
						<div class="choose-img choose-img-one">
						</div>
					</div>
					<div class="col-lg-8 pl-0">
						<div class="choose-tab-wrap">
							<h2>Why our Company is best</h2>
							<div class="tab quote-list-tab choose-tab">
								<ul class="tabs">
									<li>
										<a href="#">
											Our Mission
										</a>
									</li>
									<li>
										<a href="#">
											Our Vision
										</a>
									</li>
									<li>
										<a href="#">
											Our Goal
										</a>
									</li>
								</ul>
								<div class="tab_content">
									<div class="tabs_item">
										<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat atque quibusdam fuga natus non necessitatibus eveniet maiores nostrum esse ut voluptates sint dolores, voluptatum consequatur ad est enim perferendis reprehenderit.</p>

										<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis, soluta, aspernatur dolorum sequi quisquam ullam in pariatur nihil dolorem cumque excepturi totam. Qui excepturi quasi cumque placeat fuga. Ea, eius?</p>
										<a class="default-btn" href="about-us.html">
											Learn About
										</a>
									</div>
			
									<div class="tabs_item">
										<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque possimus cupiditate nobis! Adipisci, cupiditate. Pariatur iste qui quasi quae, laboriosam dolore sequi quia recusandae, modi est aliquid suscipit facere. Suscipit.</p>

										<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque possimus cupiditate nobis! Adipisci, cupiditate. Pariatur iste qui quasi quae, laboriosam dolore sequi quia recusandae, modi est aliquid suscipit facere. Suscipit.</p>
										<a class="default-btn" href="about-us.html">
											Learn About
										</a>
									</div>

									<div class="tabs_item">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem asperiores sapiente, soluta eum, aliquid ullam neque tenetur perferendis suscipit praesentium odio voluptas reiciendis! Et, iusto beatae cum similique impedit.</p>

										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem asperiores sapiente, soluta eum, aliquid ullam neque tenetur perferendis suscipit praesentium odio voluptas reiciendis! Et, iusto beatae cum similique impedit.</p>
										<a class="default-btn" href="about-us.html">
											Learn About
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Why Choose Us Area -->

		<!-- Start Counter Area -->
		<section class="counter-area fun-blue-bg pt-100 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-counter">
							<i class="flaticon-box"></i>
							<h2>
								<span class="odometer" data-count="8845">00</span> <span class="traget">K</span>
							</h2>
							<p>Delivered Packages</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-counter">
							<i class="flaticon-planet-earth"></i>
							<h2>
								<span class="odometer" data-count="1507">00</span> <span class="traget">M</span>
							</h2>
							<p>Countries Covered</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-counter">
							<i class="flaticon-support"></i>
							<h2>
								<span class="odometer" data-count="1000">00</span> <span class="traget">K</span>
							</h2>
							<p>Satisfied Clients</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-counter">
							<i class="flaticon-product-realise"></i>
							<h2>
								<span class="odometer" data-count="4586">00</span> <span class="traget">M</span>
							</h2>
							<p>Tons of Goods</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Counter Area -->

		<!-- start Service Area -->
		<section class="service-area pt-100 pb-100">
			<div class="container">
				<div class="section-title">
					<span>We Offer Services </span>
					<h2>Prime logistics services for world’s logistic companies.</h2>
				</div>
				<div class="row">
					<div class="col-lg-4 col-sm-6">
						<div class="single-service">
							<div class="service-content-wrap">
								<i class="icon flaticon-home"></i>
								<h3>Residential Moves</h3>
								<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum delectus illo rerum quidem! Nam maiores vel impedit quisquam.</p>
							</div>
							<div class="service-heading">
								<a class="circle-read-more" href="service-details.html">
									<h3>Residential Moves</h3>
									<i class="flaticon-right-1"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6">
						<div class="single-service">
							<div class="service-content-wrap">
								<i class="icon flaticon-package"></i>
								<h3>Corporate Relocation</h3>
								<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum delectus illo rerum quidem! Nam maiores vel impedit quisquam.</p>
							</div>
							<div class="service-heading">
								<a class="circle-read-more" href="service-details.html">
									<h3>Corporate Relocation</h3>
									<i class="flaticon-right-1"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 offset-md-3 offset-sm-3 offset-lg-0">
						<div class="single-service">
							<div class="service-content-wrap">
								<i class="icon flaticon-server"></i>
								<h3>Warehouse & Storage</h3>
								<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum delectus illo rerum quidem! Nam maiores vel impedit quisquam.</p>
							</div>
							<div class="service-heading">
								<a class="circle-read-more" href="service-details.html">
									<h3>Warehouse & Storage</h3>
									<i class="flaticon-right-1"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="col-12">
						<div class="service-all text-center">
							<p>You can also find our <a href="service-details.html">Schedule An Appointment</a>  to contact get</p>    
						</div>                                           
					</div>
				</div>
			</div>
		</section>
		<!-- End Service Area -->

		<!-- End Began Area -->
		<section class="began-area pb-70">
			<div class="container">
				<div class="section-title">
					<span>Began With Roles</span>
					<h2>Please obey the roles to keep safe</h2>
					<p>Quis ipsum suspendice consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum.</p>
				</div>
				<div class="began-top-wrap">
					<div class="row">
						<div class="col-lg-8">
							<div class="began-wrap">
								<h2>Keep safe your products with prevoz</h2>
								<div class="row">
									<div class="col-lg-4 col-sm-6 p-0">
										<div class="single-began">
											<i class="flaticon-fast-delivery"></i>
											<h3>Fast & Efficient Delivery</h3>
										</div>
									</div>
									<div class="col-lg-4 col-sm-6 p-0">
										<div class="single-began">
											<i class="flaticon-lock"></i>
											<h3>Security For Cargo Tools</h3>
										</div>
									</div>
									<div class="col-lg-4 col-sm-6 p-0">
										<div class="single-began">
											<i class="flaticon-stopwatch"></i>
											<h3>Real-Time Tracking</h3>
										</div>
									</div>
									<div class="col-lg-4 col-sm-6 p-0">
										<div class="single-began">
											<i class="flaticon-payment-method"></i>
											<h3>Easy Payment Methods</h3>
										</div>
									</div>
									<div class="col-lg-4 col-sm-6 p-0">
										<div class="single-began">
											<i class="flaticon-warehouse"></i>
											<h3>24/7 Hours Support</h3>
										</div>
									</div>
									<div class="col-lg-4 col-sm-6 p-0">
										<div class="single-began">
											<i class="flaticon-distribution"></i>
											<h3>Warehouse Storage</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Began Area -->

		<!-- Start Testimonials Area -->
		<section class="testimonials-area fun-blue-bg ptb-100">
			<div class="container">
				<div class="section-title">
					<span>Client’s Testimonials</span>
					<h2>What they say about us</h2>
				</div>
				<div class="row">
					<div class="testimonials-top-wrap owl-carousel owl-theme">
						<div class="testimonials-wrap">
							<img src="assets/img/testimonials/1.jpg" alt="Image">
							<div class="testimonials-content">
								<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam ullam delectus similique, autem distinctio voluptatem sapiente officia voluptas quibusdam eligendi, cum aspernatur eaque sunt a. Animi dolores beatae ex ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam.</p>
								<h3>Juhon Dew</h3>
								<ul>
									<li>
										<i class='bx bxs-star'></i>
									</li>
									<li>
										<i class='bx bxs-star'></i>
									</li>
									<li>
										<i class='bx bxs-star'></i>
									</li>
									<li>
										<i class='bx bxs-star'></i>
									</li>
									<li>
										<i class='bx bxs-star'></i>
									</li>
								</ul>
							</div>
						</div>
						<div class="testimonials-wrap">
							<img src="assets/img/testimonials/2.jpg" alt="Image">
							<div class="testimonials-content">
								<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam ullam delectus similique, autem distinctio voluptatem sapiente officia voluptas quibusdam eligendi, cum aspernatur eaque sunt a. Animi dolores beatae ex ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam.</p>
								<h3>Moris Noman</h3>
								<ul>
									<li>
										<i class='bx bxs-star'></i>
									</li>
									<li>
										<i class='bx bxs-star'></i>
									</li>
									<li>
										<i class='bx bxs-star'></i>
									</li>
									<li>
										<i class='bx bxs-star'></i>
									</li>
									<li>
										<i class='bx bxs-star-half'></i>
									</li>
								</ul>
							</div>
						</div>
						<div class="testimonials-wrap">
							<img src="assets/img/testimonials/3.jpg" alt="Image">
							<div class="testimonials-content">
								<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam ullam delectus similique, autem distinctio voluptatem sapiente officia voluptas quibusdam eligendi, cum aspernatur eaque sunt a. Animi dolores beatae ex ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam.</p>
								<h3>Jon Smit</h3>
								<ul>
									<li>
										<i class='bx bxs-star'></i>
									</li>
									<li>
										<i class='bx bxs-star'></i>
									</li>
									<li>
										<i class='bx bxs-star'></i>
									</li>
									<li>
										<i class='bx bxs-star-half'></i>
									</li>
									<li>
										<i class='bx bxs-star-half'></i>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Testimonials Area -->

		<!-- Start Brand Area -->
		<div class="brand-area pt-70 pb-70">
			<div class="container">
				<div class="row">
					<div class="brand-wrap owl-carousel owl-theme">
						<div class="brand-item">
							<a href="#">
								<img src="assets/img/brand/1.png" alt="Image">
							</a>
						</div>
						<div class="brand-item">
							<a href="#">
								<img src="assets/img/brand/2.png" alt="Image">
							</a>
						</div>
						<div class="brand-item">
							<a href="#">
								<img src="assets/img/brand/3.png" alt="Image">
							</a>
						</div>
						<div class="brand-item">
							<a href="#">
								<img src="assets/img/brand/4.png" alt="Image">
							</a>
						</div>
						<div class="brand-item">
							<a href="#">
								<img src="assets/img/brand/5.png" alt="Image">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Brand Area -->

		<!-- Start Blog Area -->
		<section class="blog-area pb-70">
			<div class="container">
				<div class="section-title">
					<span>News & Blog</span>
					<h2>Get every single update here.</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia fuga, neque recusandae odio debitis aperiam officia obcaecati sunt aut itaque.</p>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="single-blog">
							<a href="news-details.html">
								<img src="assets/img/blog/1.png" alt="Image">
							</a>
							<div class="blog-content">
								<ul>
									<li>
										<a href="#">By: Jon Smith</a>
									</li>
									<li>Delivery</li>
									<li>jan 30, 2020</li>
								</ul>
								<h3>
									<a href="news-details.html">
										Exporters Achieve Cost Savings Throughout the sale
									</a>
								</h3>
								<a class="read-more" href="news-details.html">
									Read More
									<i class='bx bx-right-arrow-alt'></i>
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="single-blog">
							<a href="news-details.html">
								<img src="assets/img/blog/2.png" alt="Image">
							</a>
							<div class="blog-content">
								<ul>
									<li>
										<a href="#">By: Amith klev</a>
									</li>
									<li>Engineering</li>
									<li>Feb 5, 2020</li>
								</ul>
								<h3>
									<a href="news-details.html">
										Deliveright Logistics Expands Service to West 
									</a>
								</h3>
								<a class="read-more" href="news-details.html">
									Read More
									<i class='bx bx-right-arrow-alt'></i>
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
						<div class="single-blog">
							<a href="news-details.html">
								<img src="assets/img/blog/3.png" alt="Image">
							</a>
							<div class="blog-content">
								<ul>
									<li>
										<a href="#">By: joney jai</a>
									</li>
									<li>Transport</li>
									<li>Feb 10, 2020</li>
								</ul>
								<h3>
									<a href="news-details.html">
										Software May Be Best Bet to Conquer Final Mile
									</a>
								</h3>
								<a class="read-more" href="news-details.html">
									Read More
									<i class='bx bx-right-arrow-alt'></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Blog Area -->

		<!-- Start Tracking Number Area -->
		<div class="tracking-number-area fun-blue-bg ptb-100">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-4">
						<div class="tracking-logo">
							<img src="assets/img/tracking-logo.png" alt="Image">
						</div>
					</div>
					<div class="col-lg-6 col-md-8">
						<div class="tracking-body">
							<form class="tracking-wrap">
								<input type="text" class="input-tracking" placeholder="Type your tracking number" name="Tracking">
								<button class="default-btn active" type="submit" value="submit">Tract Now</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Tracking Number Area -->

		<!-- Start Regional offices  Area -->
		<section class="office-map-area ptb-100">
			<div class="container">
				<div class="location-wrap">
					<div class="map-location">
						<h3><i class="flaticon-planet-earth"></i> Regional Offices</h3>
						<ul>
							<li class="color">United Kingdom</li>
							<li>New York - 1060, Str. First 78 <br>  Great Western Road</li>
							<li>+ (321) 5678-876-2345 <br> office@prevoz.com</li>
							<li>Mon - Fri: 9:00 - 19:00 <br> Closed on Saturday</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- End Regional offices Area -->
